@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
	;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

body {
	background-color: #FFFFFF;
}

.ui-widget,
.ui-widget .ui-widget {
	font-size: 95% !important;
}


.ui-datatable {
	margin-bottom: 25px
}

.ui-datatable .ui-datatable-header {
	text-align: right !important;
}

.ui-button-text-only .ui-button-text {
	padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
	visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
	width: 100%;
	box-sizing: border-box;
}

.year-spinner input {
	width: 100%;
	box-sizing: border-box;
}